snippet comm
	{# ${1} #}
snippet tw
	{% ${1} %}
snippet ife
	{% if ${1} %}
		${2}
	{% else %}
		${3}
	{% endif %}
snippet block
	{% block ${1} %}
	{% endblock %}
snippet	exte
	{% extends '${1}' %}
snippet incl
	{% include '{$2}' %}
snippet set
	{% set ${1} = ${2} %}
snippet tran
	{{ '${1}'|trans({${2}}, '${3:domain}') }}
snippet path
	{{ path('${1:route}', { '${2}' : ${3} }) }}
