snippet ##
	{# ${1} #}
snippet tw
	{% ${1} %}
snippet if
	{% if ${1} %}
		${2}
	{% endif %}
snippet ife
	{% if ${1} %}
		${2}
	{% else %}
		${3}
	{% endif %}
snippet block
	{% block ${1} %}
	{% endblock %}
snippet	extends
	{% extends '${1}' %}
snippet include
	{% include '{$2}' %}
snippet set
	{% set ${1} = ${2} %}
snippet forin
	{% for ${1:item} in ${2:seq} %}
		${3}
	{% endfor %}
snippet else
	{% else %}
		${0}
